 <nav class="navbar navbar-inverse" style="background-color: #008B8B;">
  <span><strong><a class="navbar-brand">???</a></strong></span>
  <div class="text-right">
   <form method="POST" class="form-inline" action="/users/login">
    <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Search">
     <input class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
   </form>
  </div>
 </nav>
    
   <div>
   login as customer <br>
    <a href="/login"><button>Log In</button></a>
    </div>
     <br>
    <div>
   Sign Up as Contractual <br>
   <button class="btn btn-outline-success my-2 my-sm-0" type="Sign in">Sign Up</button>
   </div>